@import url('https://fonts.googleapis.com/css?family=Josefin+Sans:300,400,500');

*{
	margin: 0;
	padding: 0;
	box-sizing: border-box;
	font-family: 'Josefin Sans', sans-serif;
}

body{
	display: flex;
	justify-content: center;
	align-items: center;
	min-height: 100vh;
}

.container{
	position: relative;
	width: 1280px;
	display: inline-flex;
	justify-content: center;
	align-items: center;
	flex-wrap: wrap;
}

.container .card{
	position: relative;
	width: 300px;
	height: 400px;
	background: linear-gradient(#2196f3 30%, #1d3548 30%, #1d3548);
	margin: 10px;
	border-radius: 20px;
	overflow: hidden;
}

.container .card .imgBx{
	position: absolute;
	top: 0;
	left: 0;
	width: 100%;
	height: 100%;
	transition: 0.5s;
	z-index: 100000;
	border-radius: 20px;
	overflow: hidden;
	transform-origin: top;
}

.container .card:hover .imgBx{
	transform: translateY(30px) scale(0.5);
}

.container .card .imgBx img{
	position: absolute;
	top: 0;
	left: 0;
	width: 100%;
	height: 100%;
	object-fit: cover;
}

.container .card .content{
	position: absolute;
	top: 0;
	left: 0;
	width: 100%;
	height: 100%;
	display: flex;
	justify-content: center;
	align-items: flex-end;
	padding-bottom: 30px;
	transform: translateY(100%);
	transition: 0.5s;
}

.container .card:hover .content{
	transform: translateY(0);
}

.container .card .content .details{
	display: flex;
	justify-content: center;
	align-items: center;
	flex-direction: column;
	text-align: center;
}

.container .card .content .details h2{
	color: #fff;
	font-size: 1.5em;
	font-weight: 500;
}

.container .card .content .details h2 span{
	font-size: 0.8em;
	font-weight: 400;
	color: #03a9f4;
}

.social-icons{
	position: relative;
	display: flex;
	margin-top: 5px;
}

.social-icons li{
	list-style: none;
	margin: 4px;
}

.social-icons li a{
	width: 45px;
	height: 45px;
	display: flex;
	justify-content: center;
	align-items: center;
	background: #294d69;
	border-radius: 50%;
	font-size: 1.5em;
	color: #fff;
	text-decoration: none;
	transition: 0.5s;
}

.social-icons li a:hover{
	transform: rotate(-360deg) scale(1.07);
	background: #03a9f4;
}